.wrapper {
    width: 520px;
    margin: 0 auto;
    padding: 30px 30px;
    border: 1px solid #EAEBE3;
     border-radius:15px;    
     border-color: EAEBE3;
     background-color:EAEBE3;
}

.wrapper__title {
    text-transform: capitalize;
    margin: 0 0 30px;
}

.calculator__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
}

.calculator__row:last-child {
    margin-bottom: 0;
}

.calculator__row label {
    text-transform: capitalize;
    font-weight: 700;
    color: F19601;
}

.calculator__bill {
    width: 80%;
}

.calculator__tip {
    width: 80%;
}

.calculator__tip2 {
    width: 80%;
}

.calculator__info {
    text-transform: capitalize;
    margin: 0;
    font-weight: 700;
    color: E32429;
}