.wrapper {
  width: 50vw;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 10px;
  border: 3px solid #EAEBE3;
   border-radius:15px;    
   border-color: EAEBE3;
   background-color:white;  
}
.wrapper__title {
    text-transform: capitalize;
    margin: 0 0 10px;
    text-align: center;
    text-shadow: 0px 3px 1px #F19601;
    font-size: 40px;
}
.calculators{
  width:38vw;
 height: 100%;
 margin: 0 auto;
 border: 2px solid;
 padding-top:15px;
margin-top: 15px;
 border-style:ridge; 
 border-color: black;
}
.calculator__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    height: 25px;
    
}

.payment{
  height: 25px;
  background-color: #F19601;
}

.calculator__row label {
    text-transform: capitalize;
    font-weight: 700;
    padding-right: 25px;
}

.calculator__info {
    text-transform: capitalize;
    margin: 0;
    font-weight: 700;
    color: black;
}
.calculator__bill {
  width: 85%;
}

.calculator__tip {
  width: 85%;
}

.calculator__tip2 {
  width: 85%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    margin: 5.5px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 1px #000000, 0px 0px 0.8px #0d0d0d;
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 0.8px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.9px 1.9px 15px #000000, 0px 0px 1.9px #0d0d0d;
    border: 7px solid rgba(0, 0, 0, 0);
    height: 11px;
    width: 3px;
    border-radius: 18px;
    background: #e32429;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 1px #000000, 0px 0px 0.8px #0d0d0d;
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 0.8px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1.9px 1.9px 15px #000000, 0px 0px 1.9px #0d0d0d;
    border: 7px solid rgba(0, 0, 0, 0);
    height: 11px;
    width: 3px;
    border-radius: 18px;
    background: #e32429;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0);
    border: 0.8px solid #000101;
    border-radius: 0px;
    box-shadow: 0.8px 0.8px 1px #000000, 0px 0px 0.8px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0);
    border: 0.8px solid #000101;
    border-radius: 0px;
    box-shadow: 0.8px 0.8px 1px #000000, 0px 0px 0.8px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1.9px 1.9px 15px #000000, 0px 0px 1.9px #0d0d0d;
    border: 7px solid rgba(0, 0, 0, 0);
    height: 11px;
    width: 3px;
    border-radius: 18px;
    background: #e32429;
    cursor: pointer;
    height: 0px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(0, 0, 0, 0);
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 5.5px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 1px #000000, 0px 0px 0.8px #0d0d0d;
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 0.8px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.9px 1.9px 15px #000000, 0px 0px 1.9px #0d0d0d;
    border: 7px solid rgba(0, 0, 0, 0);
    height: 11px;
    width: 3px;
    border-radius: 18px;
    background: #e32429;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.3px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 1px #000000, 0px 0px 0.8px #0d0d0d;
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 0.8px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1.9px 1.9px 15px #000000, 0px 0px 1.9px #0d0d0d;
    border: 7px solid rgba(0, 0, 0, 0);
    height: 11px;
    width: 3px;
    border-radius: 18px;
    background: #e32429;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0);
    border: 0.8px solid #000101;
    border-radius: 0px;
    box-shadow: 0.8px 0.8px 1px #000000, 0px 0px 0.8px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0);
    border: 0.8px solid #000101;
    border-radius: 0px;
    box-shadow: 0.8px 0.8px 1px #000000, 0px 0px 0.8px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1.9px 1.9px 15px #000000, 0px 0px 1.9px #0d0d0d;
    border: 7px solid rgba(0, 0, 0, 0);
    height: 11px;
    width: 3px;
    border-radius: 18px;
    background: #e32429;
    cursor: pointer;
    height: 0px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(0, 0, 0, 0);
  }
    
.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e3242a), color-stop(1, #e3242a));
	background:-moz-linear-gradient(top, #e3242a 5%, #e3242a 100%);
	background:-webkit-linear-gradient(top, #e3242a 5%, #e3242a 100%);
	background:-o-linear-gradient(top, #e3242a 5%, #e3242a 100%);
	background:-ms-linear-gradient(top, #e3242a 5%, #e3242a 100%);
	background:linear-gradient(to bottom, #e3242a 5%, #e3242a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3242a', endColorstr='#e3242a',GradientType=0);
	background-color:#e3242a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
  padding:2px 14px;
  padding-bottom:2px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e3242a), color-stop(1, #e3242a));
	background:-moz-linear-gradient(top, #e3242a 5%, #e3242a 100%);
	background:-webkit-linear-gradient(top, #e3242a 5%, #e3242a 100%);
	background:-o-linear-gradient(top, #e3242a 5%, #e3242a 100%);
	background:-ms-linear-gradient(top, #e3242a 5%, #e3242a 100%);
	background:linear-gradient(to bottom, #e3242a 5%, #e3242a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3242a', endColorstr='#e3242a',GradientType=0);
	background-color:#e3242a;
}
