.opacity:hover{
    opacity: 0.8;
}
.clear:after{
    display: block;
    content: '';
    clear: both;
}
.hhh{
    overflow:hidden; 
    height:470px;
    width: 400px;
    padding-top:30px;
    margin:  0 auto;
    border:2px solid;
    border-radius:20px;
    opacity: 0.8;
    border-color:grey;
}
.lmlblog-right{
    float: right;
}
.lmlblog-left{
    float: left;
}
.lmlblog-button {
    font-size: 18px;
    text-align: center;
    border: 0;
    cursor: pointer;
    height: 30px;
    color: #fff;
    float: right;
    background-color: #5FB878;
    line-height: 30px;
    padding: 3px 18px;
}

.lmlblog-posts-list {
    background-color: #fff;
    clear: both;
    padding: 18px 0px 5px;
    border-radius: 2px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 800px;
}
.lmlblog-posts-list h1 {
    clear: both;
    color: rgb(68, 68, 68);
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0px 0px 8px;
    padding: 0px 20px;
}
.lmlblog-posts-list h1.single {
    font-size: 22px !important;
    margin-bottom: 10px !important;
    padding: 0 20px !important;
    line-height: inherit !important;
}
.lmlblog-posts-list h1 a {
    float: none;
    display: inline-block;
    color: inherit;
    position: inherit;
    margin: 0 0 5px;
}
.lmlblog-post-content{
    overflow: hidden;
    font-size: 15px;
    word-break: break-all;
    line-height: 160%;
    clear: both;
    padding: 0 20px;
}
.lmlblog-post-content p {
    line-height: 30px;
    position: relative;
}
.lmlblog-post-content.hidden{
    overflow: hidden;
    max-height: 300px;
    cursor: pointer;
}
.lmlblog-post-read-more {
    padding: 0 20px;
    color: #2196F3;
    cursor: pointer;
}

.lmlblog-post-bar {
    margin: 15px 0 0 0;
    height: 30px;
    padding: 0 20px;
}
.lmlblog-had-like i {
    color: #f56b41;
}
.lmlblog-post-bar li{
    float: left;
    position: relative;
    line-height: 32px;
    font-size: 15px;
    cursor: pointer;
    color: #9c9898;
    margin-right: 40px;
}
.lmlblog-post-like-list{
    padding: 5px 0 0;
    border-top: 1px solid #f7f7f7;
    margin: 10px 20px 0px;
}


.lmlblog-post-footer-bar {
    color: #AAAAAA;
    font-size: 12px;
    text-align: right;
    margin-top: 5px;
}


.lmlblog-post-setting-box li {
    padding: 7px 13px;
}
.lmlblog-post-setting-box li:hover {
    background-color: #f2f2f5;
    text-decoration: none;
    color: #000;
}
.lmlblog-post-user-info {
    font-size: 14px;
    vertical-align: middle;
    line-height: 100%;
    margin: 0 0 17px 20px;
    float: left;
}
.lmlblog-post-user-info .lmlblog-vip-icon{
    display: none;
}
.lmlblog-post-user-info-avatar {
    float: left;
    position: relative;
    margin-right: 10px;
}


.lmlblog-post-user-info-avatar img.avatar {
    height:52px;
    width: 50px;
    vertical-align: middle;
    border-radius: 100%;
    border: 1px solid #f3f3f3;
}

.lmlblog-post-user-info-name {
    margin-left: 50px;
    width: 100%;
}
.lmlblog-post-user-info-time {
    width: 160px;
    margin: 10px 0 0 50px;
    font-size: 13px;
    color: #808080;
    cursor: pointer;
}
.lmlblog-post-footer-bar span:first-child {
    display: none;
}
