
:focus {
    outline: none;
}
.kunkun{
    resize: none;
    outline: none;    display: block;   list-style: none; font-size: 100%;   margin: 0;
    padding-bottom:5px;
    font-family: "Oxygen",Arial,"Hiragino Sans GB","Microsoft YaHei","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    overflow-x: hidden;
    
}

select:focus {outline: none;}
textarea:focus {outline: none;}
input{outline: none;}
div#author_textarea:after,.preference_skin_list:after,.content-block:after,.post_single_content_page:after,.post_comment_list li:after,.sidebar_today_login_list:after,.sidebar_new_reg_list:after{
    clear: both;
    display: block;
    content: '';
}

}
.lmlblog-sidebar-box .content a img {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 0 #000;
    background: #ececec;
}



